<div class="container">
    <form>
      <label for="marca">Marca:</label><br>
      <input type="text" id="marca" name="marca" required><br><br>
    
      <label for="serial">Serial:</label><br>
      <input type="text" id="serial" name="serial" required><br><br>
    
      <label for="fechaCompra">Fecha de compra:</label><br>
      <input type="date" id="fechaCompra" name="fechaCompra" required><br><br>
    
      <label for="anioLanzamiento">Año de lanzamiento del celular:</label><br>
      <input type="number" id="anioLanzamiento" name="anioLanzamiento" required><br><br>
    
      <label for="precio">Precio:</label><br>
      <input type="number" id="precio" name="precio" required><br><br>
    
      <label for="sistemaOperativo">Sistema operativo (Android/iOS):</label><br>
      <select id="sistemaOperativo" name="sistemaOperativo" required>
        <option value="Android">Android</option>
        <option value="iOS">iOS</option>
      </select><br><br>
    
      <label for="gama">Gama (Alta/Media/Baja):</label><br>
      <select id="gama" name="gama" required>
        <option value="Alta">Alta</option>
        <option value="Media">Media</option>
        <option value="Baja">Baja</option>
      </select><br><br>
    
      <input type="submit" value="Crear Celular">
    </form>
  </div>